{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'apex/styles.css' %}">
</head>
<body>

<div class="container">
    <div class="header">
        <b class="menu-prefix">Old:</b>
        <a href="{% url 'blog_old:reset_pwd_page' %}" class="menu-link">Old</a>
        <br>
        <b class="menu-prefix">React:</b>
        <a href="{% url 'blog_react:contacts_page' %}" class="menu-link">Contacts</a>
        <a href="{% url 'blog_react:profile_list' %}" class="menu-link">Profile</a>
        <a href="{% url 'blog_react:customer_list' %}" class="menu-link">Customers</a>
    </div>
</div>

<div class="container content">
    <h1>{{ title }}</h1>

    {% block content %}
        <h2>No content provided.</h2>
    {% endblock %}
</div>

<div class="container">
    <div class="footer">
        <div class="footer-links">
            <a target="_blank" href="https://ccbv.co.uk/">CCBV</a>
            <a target="_blank" href="https://docs.djangoproject.com/en/4.1/topics/forms/modelforms/">ModelForm</a>
            <a target="_blank" href="https://react-hook-form.com/">RHF</a>
            <a target="_blank" href="https://github.com/jquense/yup">Yup</a>
            <a target="_blank" href="https://miro.com/app/board/uXjVPBQOfvs=/">Django Forms cheatsheet</a>
            <a target="_blank" href="https://docs.djangoproject.com/en/4.1/ref/class-based-views/generic-editing/">Django editing CBV</a>
            <a target="_blank" href="https://docs.djangoproject.com/en/4.1/ref/forms/fields/">Django form fields</a>
            <a target="_blank" href="https://docs.djangoproject.com/en/4.1/ref/forms/widgets/">Django form widgets</a>
            <a target="_blank" href="https://django-crispy-forms.readthedocs.io/en/latest/">Crispy docs</a>
        </div>
    </div>
</div>

<script src="{% static 'apex/alpinejs--3.10.5.js' %}" defer></script>

</body>
</html>
